* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Background color of the page */
body {
  background-color: #d9dcd6;
}
/* Adds padding to the header, changes the font family, 
adds background color, and text color.*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* Changes the font size of the text in the header, and displays the text inline */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}
/* Padding to the header nav bar, margin all around, adjusts font family and size */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
}

/* Font size for all text within a <p> element */
p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* This is for all of the text boxes with search engine optimization,
online reputation management, and social media marketing. */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* This is the box on the right with all the text and images
it adds a margin, padding for how big the box is, height and width,
background color, and font familyt */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-side {
  margin-bottom: 32px;
  color: #ffffff;
}


.benefit-side h3 {
  margin-bottom: 10px;
  text-align: center;
}


.benefit-side img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Adds margin, padding, height, font family, background color,
and color to all the big blue text boxes */
.big-text {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* adds a max height to all the images in the big blue boxes */
.big-text img {
  max-height: 200px;
}
/* Adds a margin and adjusts font size for all h2 headers in the blue boxes */
.big-text h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Padding around the footer that says "Made with ❤️️ by Horiseon" 
adds font family, and centers the text */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
